body,
h1,
h2,
p {
  margin: 0;
  font-family: 'Inter';
}

main {
  background-color: #222222;
}

p, span {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.text_strong {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.text_weak {
  opacity: 0.8;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 53px;
  color: #FFFFFF;
}