header {
  background-image: url(./assets/header.jpg);
  background-size: cover;
  height: 900px;
}

.navbar {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;  
  align-items: center;
  padding-top: 50px;
}

.links {
  width: 480px;
  display: flex;
  justify-content: space-between;
}

.links a {
  font-family: 'Inter';
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.headline-container {
  max-width: 1200px;
  margin: 285px auto 370px auto;
}

.headline-container h1 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 72px;
  line-height: 72px;
  color: #FFFFFF;
  margin-bottom: 37px;
}