/* SECTION ABOUT US*/

.section_about-us {
  display: flex;
  padding: 190px 0;
  justify-content: space-between;
}

.section_about-us p {
  max-width: 520px;
}

@media screen and (max-width: 1200px) {
  .section_about-us {
    padding: 120px 0;
  }

  .section_about-us p {
    max-width: 290px;
  }
}


@media screen and (max-width: 640px) {
  .section_about-us {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
  }

  .section_about-us h2 {
    margin-bottom: 20px;
  }
}

/* SECTION CONCERTS*/

.section_concerts_table {
  display: flex;
  flex-direction: column;
  padding: 30px 0 190px;
}

.section_concerts_table_line {
  height: 140px;
  border-top: 1px solid #909090;
  border-bottom: 1px solid #909090;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.section_concerts_table_line .text_strong {
  width: 150px;
}

.section_concerts_table_line .text_weak{
  width: 158px;
}

.section_concerts_table_line span {
  width: 55px;
}

.section_concerts_table_line_button_buy {
  width: 254px;
  height: 58px;
  border: 1px solid #FFFFFF;
  background: none;
  color: #FFFFFF;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
}

.section_concerts_table_line_button_buy:hover {
  background: #FFFFFF;
  color: #282828;
}


@media screen and (max-width: 1200px) {
  .section_concerts_table {
    display: flex;
    flex-direction: column;
    padding: 30px 0 120px;
  }
  
  .section_concerts_table_line .text_strong {
    width: 100px;
  }

  .section_concerts_table_line p.text_weak  {
    width: 140px;
  }
  
  .section_concerts_table_line span.text_weak {
    width: 52px;
  }

  .section_concerts_table_line_button_buy {
    width: 156px;
    height: 58px;
  }
}

@media screen and (max-width: 640px) {
  .section_concerts_table {
    padding: 20px 0 80px;
  }

  .section_concerts_table_line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    height: auto;
  }

  .section_concerts_table_line .text_strong {
    margin-top: 20px;
  }

  .section_concerts_table_line_button_buy {
    width: 300px;
    height: 58px;
    margin-bottom: 20px;
  }
}


/* SECTION GALLERY*/

.section_gallery_container {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.section_gallery_container a {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 30px;
}

.slider {
  position: relative;
  padding-bottom: 190px;
}

.slider img{
  max-width: 98.5vw;
}

/* .arrow-left {
  position: absolute;
  left: 15%;
  top: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  right: 15%;
  top: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
} */

@media screen and (max-width: 1200px) {
  .section_gallery_container {
    width: 600px;
  }

  .section_gallery_container a {
    font-size: 14px;
    line-height: 21px;
  }
  
  /* .arrow-left {
    top: 33%;
  }
  
  .arrow-right {
    top: 33%;
  } */

  .slider {
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
  }

  .slider img{
    width: 600px;
  }
}

@media screen and (max-width: 640px) {
  .section_gallery_container {
    width: 300px;
  }

  .slider {
    padding-bottom: 80px;
  }

  .slider img{
    width: 300px;
  }

/*   .arrow-left {
    top: 20%;
    left: 20%;
  }
  
  .arrow-right {
    top: 20%;
    right: 20%;
  } */
}

/* SECTION FACTS */

.section_facts_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  align-items: center;
  padding-bottom: 190px;
}

.section_facts_container_text {
  max-width: 570px;
}

.section_facts_container_text h2 {
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .section_facts_container {
    gap: 20px;
    padding-bottom: 120px;
  }

  .section_facts_container img{
    max-height: 440px;
    width: 290px;
  }

  .section_facts_container_text {
    max-width: 290px;
  }

  .section_facts_container_text p {
    font-size: 14px;
    line-height: 21px;
  }
}

@media screen and (max-width: 640px) {  
  .section_facts_container {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 80px;
  }

  .section_facts_container:last-of-type {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
  }

  .section_facts_container img{
    height: 300px;
    width: 310px;
  }

  .section_facts_container_text {
    padding-bottom: 20px;
  }
  
}

/* SECTION REVIEWS */

.section_reviews {
  padding-bottom: 190px;
}

.section_reviews h2 {
  padding-bottom: 30px;
}

.section_reviews_container {
  display: flex;
  justify-content: space-between;
}

.section_reviews_container p {
  margin-bottom: 5px;
}

.section_reviews_container span {
  margin-bottom: 20px;
}

.section_reviews_container_item {
  display: flex;
  background-color: rgb(144, 144, 144, 0.1);
  height: 230px;
  max-width: 570px;
}

.section_reviews_container_item img{
  margin: 25px 20px 0 25px;
  width: 120px;
  height: 120px;
}

.section_reviews_container_item_text {
  display: flex;
  flex-direction: column;
  margin: 25px 25px 0 25px;
}

@media screen and (max-width: 1200px) {
  .section_reviews {
    padding-bottom: 120px;
  }

  .section_reviews_container span {
    margin-bottom: 5px;
  }

  .section_reviews_container_item {
      width: 290px;
      height: 210px;
  }

  .section_reviews_container_item img{
    margin: 20px 20px 0 20px;
    width: 55px;
    height: 55px;
  }

  .section_reviews_container_item p{
    font-size: 14px;
    line-height: 21px;
  }

  .section_reviews_container_item span{
    font-size: 14px;
    line-height: 21px;
  }

  .section_reviews_container_item_text {
    margin: 20px 0;
  }  
}

@media screen and (max-width: 640px) {
  .section_reviews {
    margin-bottom: 80px;
  }

  .section_reviews_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 280px;
    height: 180px;
  }
}

/* SECTION PODCAST */

.section_podcast_container {
  padding-top: 40px;
  padding-bottom: 190px;
  display: flex;
  justify-content: space-between;
}

.section_podcast_container p {
  max-width: 570px;
  margin-bottom: 25px;
}

.section_podcast_container_button {
  width: 254px;
  height: 58px;
  border: 1px solid #FFFFFF;
  background: none;
  background-color: #FFFFFF;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  color: #282828;
}

.section_podcast_container_button:hover {
  background-color: #282828;
  color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
  .section_podcast img {
    width: 600px;
    height: 300px;
  }

  .section_podcast_container {
    padding-bottom: 120px;
  }

  .section_podcast_container p {
    max-width: 290px;
  }

  .section_podcast_container_button {
    width: 290px;
    height: 60px;
  }
}

@media screen and (max-width: 640px) {
  .section_podcast {
    padding-top: 80px;
  }
  
  .section_podcast img {
    width: 300px;
    height: 300px;
  }  

  .section_podcast_container {
    flex-direction: column;
    padding-bottom: 80px;
  }
}